/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.container header {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.container nav {
  width: 100%;
  margin-top: 40px;
  margin-left: 55%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container nav {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
}
.container nav a {
  width: 100%;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container nav a {
    padding-bottom: 20px;
    font-size: 2.5rem;
  }
}
.container nav a:hover {
  text-decoration: underline;
  color: lightskyblue;
}
.post-header {
  background-color: #5892ef;
  width: 100%;
  height: 100px;
}
@media (max-width: 500px) {
  .post-header {
    align-items: center;
    max-width: 500px;
  }
}
.post-header h1 {
  color: white;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 12px;
  font-weight: initial;
  text-shadow: 4px 3px 0px black, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 500px) {
  .post-header h1 {
    font-size: 3rem;
  }
}
.main-content {
  margin-top: 25px;
}
@media (max-width: 500px) {
  .main-content {
    width: 500px;
  }
}
.main-content .top-content {
  display: block;
  text-align: end;
}
.main-content .top-content .selfie {
  float: left;
  width: 200px;
  height: auto;
}
@media (max-width: 500px) {
  .main-content .top-content .selfie {
    height: auto;
    width: 150px;
  }
}
.main-content .top-content .text-content h1 {
  font-size: 2.5rem;
  color: #5892ef;
  font-weight: bold;
}
@media (max-width: 500px) {
  .main-content .top-content .text-content h1 {
    font-size: 1.5rem;
    margin-right: 10%;
  }
}
.main-content .top-content .text-content h2 {
  margin-top: 25px;
  font-size: 1.3rem;
  color: gray;
  letter-spacing: 5px;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .main-content .top-content .text-content h2 {
    font-size: 1rem;
    text-align: left;
  }
}
.main-content .downtown-sc-pic {
  max-width: 100%;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .main-content .downtown-sc-pic {
    height: auto;
    width: 94%;
  }
}
.middle-content {
  margin-top: 20px;
  background: #5892ef;
  max-width: 100%;
  height: 230px;
}
.middle-content h1 {
  color: white;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 12px;
  font-weight: initial;
  text-shadow: 4px 3px 0px black, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
.middle-content .text-box {
  background: #8ab4f7;
  padding: 0 5%;
  margin: 25px 3% 15px 3%;
  box-shadow: 3px 4px;
}
@media (max-width: 500px) {
  .middle-content .text-box {
    height: auto;
    width: 87%;
  }
}
.middle-content .text-box p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 500px) {
  .middle-content .text-box p {
    font-size: 0.77rem;
  }
}
.bottom-content {
  display: block;
}
.bottom-content h2 {
  letter-spacing: 5px;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.bottom-content ul {
  margin-left: 5%;
  list-style: square;
  font-size: 1.2rem;
}
.contact {
  margin: 50px 0 0 5%;
}
.contact h4 {
  font-size: 1.3rem;
  letter-spacing: 4px;
}
.contact p {
  padding: 5px 0;
  letter-spacing: 2px;
}
footer {
  color: white;
  font-size: 0.8rem;
  width: 100%;
  height: 40px;
  background: black;
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
}
@media (max-width) {
  footer {
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
}
